<style>
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
</style>
<style>
#contacts {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#contacts td, #contacts th {
    border: 1px solid #ddd;
    padding: 8px;
}

#contacts tr:nth-child(even){background-color: #f2f2f2;}

#contacts tr:hover {background-color: #ddd;}

#contacts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>
<nav>
  <ul>
    <li><a href="/polls">Home</a></li>
      </ul>
</nav>

<form action="" method="post" novalidate>
    {% csrf_token %}
    {% if contact_id == 0 %}
    <h3>Add new Contact</h3>
    {% else %}
    <h3>Modify Contact</h3>
    {% endif %}
    <table id="contacts">
        {{ formset }}
    </table>
    <input type="submit" value="Submit" onclick="return confirm('Please confirm submission')">
</form>